ul {
  display: flex;
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  list-style-type: none;
}

span {
  display: table;
  margin: 0 auto;
}


li {
  width: 90px;
  line-height: 90px;
  list-style-type: none;
  position: relative;

}

li:hover {
  animation-name: example;
  animation-duration: 0.2s;
  background-color: #E5F3FE;
}

@keyframes example {
  from {
    background-color: #C3DEF9;
  }

  to {
    background-color: #E5F3FE;
  }
}


.calendar {
  width: 630px;
  font-family: Arial, Helvetica, sans-serif;
}


.header {
  text-align: center;
  color: #416495;
}

.container {
  background-color: #C3DEF9;
}

.mark::before {
  content: '';
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0px 15px 15px 15px;
  position: absolute;
  border-color: transparent transparent transparent rgb(255, 81, 0);
  display: inline-block;
  vertical-align: middle;
}

.mark:hover .tooltip-text {
  visibility: visible;
}

.tooltip-text {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  line-height: 250%;
  top: 20%;
  left: 100px;
  white-space: nowrap;
  padding: 0px 10px 0px;
}

.today {
  background-color: #9FCCFA;
  font-weight: bold;
  border-radius: 50%;
}
.MuiAppBar-root.botAppBar {
  display: none;
}

@media screen and (max-width: 600px) {

  ul {
    margin: 0;
    padding: 0;
    display: inline;
  }

  span {
    display: inline-block;
    width: 30px;
    padding-left: 15px;
  }

  li {
    position: relative;
    top: unset;
    left: 0px;
    width: 100%;
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-left-style: solid;
    border-left-width: 7px;
    border-color: rgb(22, 128, 214);
  }

  li:hover {
    background-color: unset;
    animation-name: unset;
    animation-duration: unset;
    background-color: unset;
    border-radius: unset;
  }

  body {
    overflow-x: hidden;
  }

  .calendar {
    width: 100%;
  }

  .container {
    height: 100%;
  }

  .mark {
    display: inline-block;
    text-align: left;
  }

  .mark::before {
    border: unset
  }

  .tooltip-text {
    width: auto;
    margin: unset;
    visibility: visible;
    background-color: unset;
    color: black;
    text-align: left;
    position: relative;
    z-index: 1;
    top: unset;
    left: unset;

  }
  .MuiAppBar-root.botAppBar {
    visibility: visible;
    display: inline-flex;
  }
}